.event-index {
  padding-left: 10%;
  padding-right: 10%;
  padding-top: var(--space-m);

  &__main-heading {
    text-align: center;
    margin-bottom: var(--space-l);
  }

  &__inline-container {
    display: flex;
    flex-direction: column;
    gap: var(--space-m);
    align-items: center;
    justify-content: center;

    @include media(tabletAndUp) {
      flex-direction: row-reverse;
      justify-content: space-between;
    }

    & h2 {
      margin-bottom: var(--space-s);

      @include media(tabletAndUp) {
        margin-bottom: 0;
      }
    }

    & .btn {
      margin-bottom: var(--space-s);
    }

  }

  &__subheading {
    margin-bottom: var(--space-s);
  }

  &__grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(max(240px,25vw), 1fr));

    gap: var(--space-m);
    margin-bottom: var(--space-xl);
  }
}
