.header {
  align-items: center;
  background-color: hsl(0 0% 15%);
  box-shadow: var(--shadow-small);
  display: flex;
  justify-content: space-between;
  padding: var(--space-m);

  &__home-link {
    font-size: var(--font-size-xxl);
    font-weight: bold;
    text-decoration: underline;

    @include media(tabletAndUp) {
      margin-left: var(--space-l);
    }
  }

  &__nav-links {
    align-items: center;
    display: flex;
    gap: var(--space-xl);

    @include media(tabletAndUp) {
      margin-right: var(--space-l);
    }
  }
}
