<main class="container">
  <h1 class="container__heading"><%= @user.name %>'s Events</h1>

  <div class="card">
    <h2 class="card__heading">Hosted Events</h2>
    <ul class="event-list">
    <% @user.events.each do |event| %>
      <li class="event-list__item">
        <%= link_to event.name, event %>
      </li>
    <% end %>
    </ul>
  </div>

  <% unless @user.attended_events.future.blank? %>
    <div class="card">
      <h2 class="card__heading">Events Signed Up For</h2>
      <ul class="event-list">
        <% @user.attended_events.future.each do |future_event| %>
          <li class="event-list__item">
            <%= future_event.name %>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <% unless @user.attended_events.past.blank? %>
    <div class="card">
      <h2 class="card__heading">Attended Events</h2>
      <ul class="event-list">
        <% @user.attended_events.past.each do |past_event| %>
          <li class="event-list__item">
            <%= past_event.name %>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>

</main>
