<h1><%= @user.name %></h1>

<h2>Events</h2>
<ul>
<% @user.events.each do |event| %>
  <li>
    <%= event.name %>
  </li>
<% end %>
</ul>

<h2>Events Signed Up For</h2>
<ul>
  <% @user.attended_events.future.each do |future_event| %>
    <li>
      <%= future_event.name %>
    </li>
  <% end %>
</ul>

<h2>Attended Events</h2>
<ul>
  <% @user.attended_events.past.each do |past_event| %>
    <li>
      <%= past_event.name %>
    </li>
  <% end %>
</ul>
