<h1 class="main-header">All Events</h1>

<h2 class="event-temporal-header">Upcoming Events</h2>
<div class="events-container">
  <%= render @events.future %>
</div>

<h2 class="event-temporal-header">Past Events</h2>
<div class="events-container">
  <%= render @events.past %>
</div>
