<h1>All Events</h1>

<%= link_to "Create New Event", new_event_path %>

<h2>Upcoming Events</h2>
<ul>
  <% @events.future.each do |event| %>
    <li>
      <%= link_to event.name, event %>
    </li>
  <% end %>
</ul>

<h2>Past Events</h2>
<ul>
  <% @events.past.each do |event| %>
    <li>
      <%= link_to event.name, event %>
    </li>
  <% end %>
</ul>
