<main class="event-index">
  <h1 class="event-index__main-heading">All Events</h1>

  <div class="event-index__inline-container">
    <%= link_to "Create New Event",
                new_event_path,
                class: "btn btn--primary" %>
    <h2>Upcoming Events</h2>
  </div>
  <div class="event-index__grid-container">
    <%= render @events.future %>
  </div>

  <h2 class="event-index__subheading">Past Events</h2>
  <div class="event-index__grid-container">
    <%= render @events.past %>
  </div>
</main>
