.event-card {
  background-color: var(--color-gray);
  border-radius: var(--border-radius);
  padding: var(--space-m);
  max-width: 35rem;

  &__title {
    font-size: var(--font-size-xl);
    text-decoration: underline;
  }

  &__heading {
    margin-bottom: var(--space-s);
  }

  &__metadata {
    &--top {
      margin-bottom: var(--space-m);
    }
  }

  &__description {
    margin-bottom: var(--space-l);
  }

  &__actions {
    display: flex;
    align-items: center;
    gap: var(--space-m);
    justify-content: flex-end;
  }
}
