.event-metadata {
  display: flex;
  flex-direction: row;
  gap: var(--space-m);

  &__label {
    color: var(--color-secondary);
    font-weight: bold;
  }

  & li+li {
    border-left: var(--border);
    padding-left: var(--space-m);
  }
}